   /* Fundo da página com um leve gradiente branco/gelo */
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #ffffff, #f0f0f0);
    overflow-x: hidden;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Container das estrelas */
#star-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Fica atrás de todo o conteúdo */
    pointer-events: none;
}

/* Estilo de cada estrela dourada */
.star {
    position: absolute;
    background-color: #ffd700; /* Cor Ouro */
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 5px #ffec8b; /* Brilho da estrela */
    animation: blink 3s infinite ease-in-out;
}

/* Animação para as estrelas piscarem */
@keyframes blink {
    0%, 100% { opacity: 0; transform: scale(0.5); }
    50% { opacity: 0.8; transform: scale(1.2); }
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a {
    color: white;
    text-decoration: none;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}
.center{
    text-align: center;
}